body{
    font-family: 'Open Sans', sans-serif;
}
.height{
    min-height: 100vh;
    min-width: 80vh;
}
.title-underline{
    width: 220px;
    height: 5px;
    margin: 0 auto;
}

#title-header{
    font-family: 'Josefin Sans', sans-serif;
    
}
#p-head
{
    font-size: 20px;
}
.email{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
#progress{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/coding.png)center/cover no-repeat fixed;
}
#acadmic{
    font-size: 18px;
}
.icons{
    size: 340px;
}